{% from "users/_form_macros.html" import render_field %}
<html>
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">

    <style>body {
        font-family: 'Roboto', sans-serif;
    }</style>

</head>

<body>

<div style="background-color:#eee; height:100vh; float:left; width:25%; padding:24px;">
    <div class="text-center mb-3">
        <img src="#"
             class="d-inline-block align-top"
             width="128"
             height="128"
             alt="">
        <h3><b>CineStream</b></h3>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.login') }}">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('users.register') }}">Регистрация</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form action="{{ url_for('users.register') }}" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ render_field(form.email, placeholder="Электронная почта") }}
                    {{ render_field(form.password, placeholder="Пароль") }}
                    {{ render_field(form.confirm, placeholder="Подтвердите пароль") }}
                    {{ render_field(form.firstName, placeholder="Имя") }}
                    {{ render_field(form.lastName, placeholder="Фамилия") }}
                    {{ render_field(form.city, placeholder="Город") }}
                    {{ render_field(form.file, placeholder="Фотография") }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-block">Создать аккаунт</button>
                </div>
            </form>

        </div>
    </div>
    <div class="text-center mt-3">
        <p>
            <small>
                <a href="#">Пользовательское соглашение</a><br>
                <a href="#">Согласие на обработку персональных данных</a>
            </small>
        </p>
    </div>
</div>
<div style="background-color:#ccc; height:100vh; width:75%; float:left; padding:24px;">

</div>

</body>
