{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="page-header" style="margin-top:40px; margin-bottom: 20px">
        <h2>Выберете пользователей CineStream для совместного просмотра</h2>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            {% for user in all_users %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                            <a><img class="rounded-circle"
                                 style="height: 140px; width: 140px; object-fit: cover; display: block;"
                                 src= 'static/{{ user.path }}'></a>
                            </div>
                            <div class="col-sm-10">
                            <p class="card-text"><strong>{{ user.firstName }} {{ user.lastName }}</strong><br>
                                <em><small>Город: {{ user.city }}</small></em></p>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
</div>

<br>

{% endblock %}

