<footer class="mt-3 footer">
    <div class="container">
        <div class="row mt-3">
            <div class="col-4">
                <p>
                    <small>&copy;&nbsp;2018 <a href="#">CineStream</a></small>
                </p>
            </div>
            <div class="col">
                <p>
                    <small>
                        <a href="#">О проекте</a><br>
                        <a href="#" target="_blank">О команде</a><br>
                        <a href="#">Контакты</a>
                    </small>
                </p>

                <p>
{#                    <a href="{{ social_links.slack }}"><i class="fab fa-slack" style="font-size:18pt;"></i></a>&nbsp;&nbsp;#}
{#                    <a href="{{ social_links.vkontakte }}"><i class="fab fa-vk" style="font-size:18pt;"></i></a>&nbsp;&nbsp;#}
{#                    <a href="{{ social_links.instagram }}"><i class="fab fa-instagram" style="font-size:18pt;"></i></a>&nbsp;&nbsp;#}
{#                </p>#}

            </div>
            <div class="col-6">
                <p>
                    <small>
                        Благодаря платформе <strong>CineStream</strong> Вы сможете круто проводить время с друзьями и семьей даже на расстоянии.
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>